<h1 class="juzhong2">Musics</h1>

{{#if errorMessages.length}}
  <p class="juzhong">Couldn't fetch the musics because:</p>
  <ul>
    {{#each errorMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{else}}

  {{#if musics.length}}
    <ul class="juzhong">
      {{#each musics}}
        <li>
          <a href="/musics/{{id}}">
            {{title}}
          </a>
            ({{musicGenre}})
            ({{grade}}/10)
               <form action="/musics/deleteMusic/{{id}}" method="post" style="display:contents">
               <input type="submit" value="Delete">
               </form>
              <a href="#{{id}}"><button>Update</button></a>
            
<div class="modal" id="{{id}}">
  <a href="#close" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
      <div class="modal-title h5">Modal title</div>
    </div>
      <div class="modal-body">
        <div class="content">
          <h1>Update</h1>
  {{#if errorMessages.length}}  
    <p>Couldn't update the music because:</p>
      <ul>
        {{#each errorMessages}}
          <li>{{this}}</li>
        {{/each}}
     </ul>
{{/if}}
  <form action="/musics/update/{{id}}" method="post" >
  <div>
    <div style="margin-bottom:5px">
      Title:
      <input type="text" name="title" value="{{title}}" />
    </div>
    <div style="margin-bottom:5px">
      MusicGenre:
      <input type="text" name="genre" value="{{genre}}" />
    </div>
    <div style="margin-bottom:5px">
      Grade:
      <input type="number" name="grade" value="{{grade}}" />
    </div>

    <input type="submit" value="update" />
  </div>
</form>
      </div>
    </div>
    <div class="modal-footer">
      ...
    </div>
  </div>

</div>
      {{/each}}
    </ul>

  {{else}}
    <p class="juzhong">We have no musics to recommend at the moment.</p>
  {{/if}}

{{/if}}
<a href="/musics/create" class="juzhong">Create</a>
         
{{!-- the pagination quoted from spectre https://picturepan2.github.io/spectre/components/accordions.html --}}
<ul class="pagination" class="juzhong">
  <li class="page-item disabled">
    <a href="#" tabindex="-1">Previous</a>
  </li>
  <li class="page-item active">
    <a href="#">1</a>
  </li>
  <li class="page-item">
    <a href="#">2</a>

  <li class="page-item">
    <a href="#">Next</a>
  </li>
</ul>